.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Hover Effect */
.meme-img:hover{
  transform: scale(1.2);
  transition: scale .7s linear;
  width: 30%;
  height: 20%;
  margin-left: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.images > img {
  width: 100%;
  margin: 10px 0;
}

@media (min-width: 600px) {
  .images > img {
    width: 47%;
  }
}

@media (min-width: 1025px) {
  .images > img {
    width: 30%;
  }
}
