.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images > img {
  width: 100%;
  margin: 10px 0;
}

@media (min-width: 600px) {
  .images > img {
    width: 47%;
  }
}

@media (min-width: 1025px) {
  .images > img {
    width: 30%;
  }
}

.nav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav img {
  margin-right: 10px;
  height: 80%;
}