
.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}



.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}






.subheading{
 color: red;
 text-align: center;
}


footer div {
background-color: rgb(252, 221, 182);
}

body {
font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
margin: 0;
}

.about-container {
display: flex;
flex-direction: column;
padding: 2% 20%;
background-color: whitesmoke;
}

.heading {
font-size: 50px;
}

.about-container h3 {
font-size: 25px;
font-weight: 450;
}

.github-link {
text-decoration: none;
font-weight: bold;
font-size: 20px;
}

.images > img {
width: 100%;
margin: 10px 0;
}

header .nav {
display: flex;
position: absolute;
width: 100%;
left: 0;
top: 0;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: row;
background-color: #FCDDB6;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav img {
margin-right: 10px;
height: 80%;
}

main {
margin-top: 100px;
}
@media (min-width: 600px) {
.images > img {
  width: 47%;
}
}

@media (min-width: 1025px) {
.images > img {
  width: 30%;
}

}