
.images img:hover{
    transition: all .5s ease;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 10px 10px 15px gray;
}


.images {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.images img {
width: 50%;
height: 30rem;
margin: 20px 0;
margin-left: 10px;
margin-right:2rem ;
}

@media (min-width: 600px) {
.images > img {
    width: 47%;
}
}

@media (min-width: 1025px) {

.images > img {
width: 30%;
}


.images > img {
    width: 30%;
}
}

footer div {
display: flex;
align-items: center;
justify-content: space-around;
padding: 75px 25px;
background-color: rgb(252, 221, 182);
}

body {
font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
margin: 0;
}

.about-container {
display: flex;
flex-direction: column;
padding: 2% 20%;
background-color: whitesmoke;
}

.heading {
font-size: 50px;
}

.about-container h3 {
font-size: 25px;
font-weight: 450;
}

.github-link {
text-decoration: none;
font-weight: bold;
font-size: 20px;
}

.images > img {
  width: 100%;
  margin: 10px 0;
}

header .nav {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: #FCDDB6;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav img {
  margin-right: 10px;
  height: 80%;
}

main {
  margin-top: 100px;
}
@media (min-width: 600px) {
  .images > img {
    width: 47%;
  }
}

@media (min-width: 1025px) {
  .images > img {
    width: 30%;
  }

}
